/*Initialize Timeless font*/
@font-face {
	font-family: Timeless;
	src: url("./fonts/Timeless.ttf");
}

/*Initialize Cormorant font*/
@font-face {
	font-family: Cormorant;
	src: url("./fonts/CormorantInfant-Italic.otf");
}

/*All text will use Cardo by default*/
* {
	font-family: "Cardo", serif;
}

/*Titles will use Timeless*/
h1 {
	font-family: "Timeless", serif;
}

/*Subtitles will use Cormorant*/
h2, h3, h4, h5 {
	font-family: "Cormorant", serif;
}

/*Buttons will use Timeless*/
button {
	font-family: "Timeless", serif;
}

/*Links will have no text decoration by default*/
a {
	text-decoration: none;
}

/*Make social media items horizontal*/
.socialMediaIcons > ul {
	flex-flow: row nowrap;
}

/*Remove default arrow from dropdown*/
.dropdown-toggle::after {
	content: none;
}

/*Change dropdown opacity*/
.dropdown .dropdown-menu {
	background-color: rgba(0,0,0,0.2);
}

.dropdown-item {
	color: #cccccc;
}

.carousel-pager {
	position: relative;
	right: 1rem;
}

.row {
	min-height: 25vh;
	position: relative;
}

.hero {
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
   	justify-content: center;
}

#hero-title {
	left: 33.3333%;
}

#hero-description {
	right: 0;
}

/*Set carousel height*/
.carousel-container .item {
	height: 100%;
}

.item img {
	object-fit: cover;
	height: 100%;
}

.inner-carousel {
	overflow: hidden;
}

/*Add black overlay to the images*/
.item:after {
	background: rgba(0,0,0,0.2);
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
}

.track {
	display: inline-flex;
	transition: transform 0.5s ease-in-out;
}

.prev, .next {
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
	width: 60px;
	height: 60px;
	outline: none;
	cursor: pointer;
	color: white;
}

.nav .prev {
	left: 30px;
}

.nav .prev.hide {
	display: none;
}

.nav .next {
	right: 30px;
}

.nav .next.hide {
	display: none;
}
